<mj-section>
  <mj-column>
    <mj-divider
      border-width="1px"
      border-style="solid"
      border-color="lightgrey"
    />
    <mj-text align="center" font-size="16px" color="lightgrey"
      >{{= it.legalCompanyName }}</mj-text
    >
    <mj-text align="center" font-size="16px" color="lightgrey"
      >Powered by {{= it.shortCompanyName }}</mj-text
    >
    <mj-text align="center" font-size="14px" color="lightgrey"
      ><a href="{{= it.termsUrl }}" style="color: lightgrey">Terms of Use</a> |
      <a href="{{= it.privacyUrl }}" style="color: lightgrey"
        >Privacy Policy</a
      ></mj-text
    >
  </mj-column>
</mj-section>
